<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Yurika Tsuruda ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Yurika Tsurudaのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Yurika Turudaのポートフォリオサイトです" />
  <title>Yurika Tsuruda ポートフォリオ</title>
  <link rel="preconnect" href="http://fonts.gstatic.com">
  <link
    href="http://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+Garamond&family=Dancing+Script&display=swap"
    rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="./css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="./css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">



    <main class="content">

      <!-- header -->
      <header class="header">
        <div class="header-icon">
        <%= image_tag "header-icon2.png" %>
        </div>
        <div class="header-inner">
          <p class="header-title">Yurika Tsuruda</p>
          <p class="header-subtitle">Portfolio</p>
        </div>

      </header>
      <!-- /header -->

      <!-- gnav -->
      <nav class="gnav">
        <div class="gnav-inner">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="#about"><%= image_tag "nav-icon" %>Profile</a></li>
            <li class="gnav-item"><a href="#works"><%= image_tag "nav-icon" %>Works</a></li>
            <li class="gnav-item"><a href="#skill"><%= image_tag "nav-icon" %>Skill</a></li>
            <li class="gnav-item"><a href="#contact"><%= image_tag "nav-icon" %>Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- /gnav -->
      
      <!-- profile -->
      <section class="about section" id="about">
        <div class="inner">
          <h2 class="title">Profile</h2>
          <div class="profile">
            <p class="profile-img">
              <%= image_tag "profile2.jpg"%>
            </p>
            <div class="profile-body">
              <p>
                はじめまして。私は鶴田佑理香(<a href="https://github.com/yurika0705">@yurika0705</a>)と申します。<br>
                これまで美容サロンの営業業務や通信事業でのカスタマー業務に従事しておりました。<br>
                職場のシステム部の方を見てエンジニアに興味を持ち転職を決意。<br>
                オンラインスクール卒業後、独学でプログラミングを学習中です。
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /profile -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="inner">
          <h2 class="title">works</h2>
          <div class="works-list">
            <a class="works-item" href="https://food-truck.onrender.com">
              <p class="works-img"><%= image_tag"food-truck.jpg" %></p>
              <p class="works-name">FOOD-TRUCK</p>
              <p class="works-info">キッチンカーの出店場所の投稿・スケジュール共有ができるアプリです</p>
              <p class="works-">HTML / CSS / Ruby(Ruby on Rails) / Javascript / MySQL / GitHub / Render</p>
            </a>
            <a class="works-item" href="54.64.52.224">
              <p class="works-img"><%= image_tag "furima-38710.jpg" %></p>
              <p class="works-name">furima-38710</p>
              <p class="works-info">某フリマアプリのクローンサイトです</p>
              <p>HTML / CSS / Ruby(Ruby on Rails) / Javascript / MySQL / GitHub / AWS</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="inner">
          <h2 class="title">Skill</h2>
          <div class="skill-list">
            <div class="skill-item">
              <p class="skill-img"><img src="img/icon_skill.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name"></h3>
                <p class="skill-text">
                  Ruby/Ruby on Rails, Javascript, MySQL, Git/GitHub, AWS
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /skill -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="inner">
          <h2 class="title">Contact</h2>
          <p class="lead">
            お問い合わせは、<br class="sp-only">Lineかメールにてお願いいたします。
          </p>
          <div class="contact-list">
            <a class="contact-item" href="https://www.instagram.com/" target="_blank" rel="noopener">Line</a>
            <span class="contact-item">yuricka.0705.0629@gmail.com</span>
          </div>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Yurika Tsuruda</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="js/script.js"></script>
</body>
</html>